/* USER STORIES */

/* 1.  When I click button to create a meal, I want a modal to inform me 
that a meal was succesfully added */


body {
    /* margin: 0; */
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("../images/meal2.jpg");
    background-size: cover;
    align-items: center;
    justify-content: center;
}

#nav {
  width: 100%;
  top: 0;
  margin-top: 0;
  color: whitesmoke;
  text-align: center;
  /* background-color: #343a40; */
}

.container {
   /*The min-width property is set to 385px to prevent collapsing or text overflow on smaller devices */
    margin: 0px;
    min-width: 385px;
    float: none;    
    color: whitesmoke;
}

/* Img below if for Primal Platoon Inc logo (PPINC) */
 
img {
  display: inline;
  border-radius: 50%;
  margin: 8px auto auto auto;
}

h3.title {
  margin-top: 1px;
  padding-top: 3px;
}

.homeLog {
margin-bottom: 5px;

}
 
li {
  list-style-type: none;
  display: inline;

}


/* NAV BAR ABOVE */

.top-panel, .panel, #background {

    border: 2px solid rgba(0, 0, 0, 0.4);
    margin: auto;
    margin-top: 10px;
    background-color: #343a40;
    opacity: 0.83;
    border-radius: 4px;
    align-content: center;
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0.4);
    overflow: hidden;
         

}
#meals-table, tr > th {
    text-align: center;
}

#created-meals-table, tr > th {
  text-align: center;
  background-color: #7BA05B;
  border-radius: 7px;
  padding: 2px;
}

tr {
  padding: auto 2px;
}


.title {
    font-family: 'Bevan', cursive;
 
}



.lead {
    color: whitesmoke;
    margin: 0;
    /* display: inline-block; */
   
}

#nxtMealT {
    font-family: 'Quantico', sans-serif;
    background-color: #CA3435;
    opacity: 0.83;
    border-radius: 7px;
    text-align: center;
    display: inline-block;
    padding: 0px 7px;
    font-size: larger;
    margin-bottom: 0;
    z-index: 2;
    
}

/* #clock {
    margin-top: 0;
    font-family: 'Quantico', sans-serif;
    background-color: This used to be green;
    display: block;
    padding: 2px;
    border-radius: 7px;
    width: 150px;
} */

/* Red 'Log Meal' button */
#add-meal-btn {
    padding: 0px 10px 5px 10px;

}

#create-meal-btn {
  padding: 0px 10px 5px 10px;
  text-align: center;
}

/* Needed !important value to undue the evil Bootstrap spell which was whiting-out the rows
on hover.  Now the text color changes on hover instead of it being all white & unreadable =)  */
tr:hover {
    color: #343a40 !important;
    text-decoration: none;    
    
}

/* All these properties had to be defined to get rid of the hyperlink's default blue color. */
 a { 
    text-decoration : none; 
    color : whitesmoke; 
}

a:link {
    color: whitesmoke;
    text-decoration : none; 
  }
  
  a:visited {
    color: whitesmoke;
    text-decoration : none; 
  }
  
  a:hover {
    color: red;
    text-decoration : none; 
  }

  a:active {
    color: whitesmoke;
    text-decoration: none;
} 




/* All code below controls the Add Meals row where all User input goes */
   
#meal-name-input, #calories-input, #lastM-input, .card-body, .navbar{
  background-color:  #504f54;
  color: whitesmoke;
  text-align: center;
   
}

  .form-group {
    text-align: center;
    margin: 0;

  }

  .btn-secondary, #frequency-input {
      background-color: #319177;
      border-radius: 10px;
      text-align: center;
      align-items: center;
      color: whitesmoke;
      align-content: center;
     
      
 }

  #frequency-input {
    width: 33%;
    align-items: center;
    display: inline-block;    
  }


  
  /* This body id prevents the footer from covering content on smaller screens */
#body {
    padding: 10px;
    padding-bottom: 100px;   
 }

#footer {
  background-color: #343a40;
  color: whitesmoke;
  border-top: 2px solid #7BA05B;
  position:fixed;
  bottom:0;
  width:100%;
  height:60px;  
  line-height: 50px;
  text-align: center;
  font-family: 'Quantico', sans-serif;
  margin: 0;
  width: 100%;
  opacity: .83;
}

.navbar {
  background-color: #343a40;
  color: whitesmoke;
  border-bottom: 2px solid #7BA05B;
  position: sticky;
  height: auto;  
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 5px;
  width: 100%;
  opacity: .83;
}

#listItem1, #listItem2 {
  background-color: #7BA05B;
  color: whitesmoke;
  display: inline;
  padding: 5px 7px;
  margin: 2px; 
  border-radius: 7px; 

}

.nutrTotals {
  background-color: #343a40;
  color: whitesmoke;
  text-align: center;
  align-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 7px;
  
}

.nutrTotalBtn {

  background-color: #7BA05B;
  font-family: 'Quantico', sans-serif;
  padding: 3px;

}


 
  

/* Font families inventory:
font-family: 'Turret Road', cursive;
font-family: 'Quantico', sans-serif;
font-family: 'Special Elite', cursive;
*/

/* Font inventory
font-family: 'Staatliches', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Quantico', sans-serif;
*/