/* USER STORIES */

/* 1.  When I click button to create a meal, I want a modal to inform me 
that a meal was succesfully added */


body {
    margin: 0;
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("../images/meal2.jpg");
    background-size: cover;
    align-items: center;
    justify-content: center;
}

.container {
   /*The min-width property is set to 385px to prevent collapsing or text overflow on smaller devices */
    margin: 0px;
    min-width: 385px;
    float: none;    
    color: whitesmoke;
}

/* NAVBAR BELOW */

.navbar {
  background-color: #343a40;
  opacity: 0.83;
}

.navFont {

  font-family: 'Bevan', cursive;
  color: whitesmoke;
  margin-left: 6px;
  display: inline-block;
  padding-right: 5px;

}

li {
  list-style-type: none;
  display: inline;

}


/* NAV BAR ABOVE */

.top-panel, .panel, #background {

    border: 2px solid rgba(0, 0, 0, 0.4);
    margin: auto;
    margin-top: 10px;
    background-color: #343a40;
    opacity: 0.83;
    border-radius: 4px;
    align-content: center;
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0.4);
    overflow: hidden;
         

}
#meals-table, tr > th {
    text-align: center;
}


.title {
    font-family: 'Bevan', cursive;
 
}



.lead {
    color: whitesmoke;
    margin: 0;
    /* display: inline-block; */
   
}

#nxtMealT {
    font-family: 'Quantico', sans-serif;
    background-color: #CA3435;
    opacity: 0.83;
    border-radius: 7px;
    text-align: center;
    display: inline-block;
    padding: 0px 7px;
    font-size: larger;
    
}

/* #clock {
    margin-top: 0;
    font-family: 'Quantico', sans-serif;
    background-color: This used to be green;
    display: block;
    padding: 2px;
    border-radius: 7px;
    width: 150px;
} */

/* Red 'Log Meal' button */
#add-meal-btn {
    padding: 0px 10px 5px 10px;

}

#create-meal-btn {
  padding: 0px 10px 5px 10px;
  text-align: center;
}

/* Needed !important value to undue the evil Bootstrap spell which was whiting-out the rows
on hover.  Now the text color changes on hover instead of it being all white & unreadable =)  */
tr:hover {
    color: #343a40 !important;
    text-decoration: none;    
    
}

/* All these properties had to be defined to get rid of the hyperlink's default blue color. */
 a { 
    /* text-decoration : none;  */
    color : whitesmoke; 
}

a:link {
    color: whitesmoke;
    /* text-decoration : none;  */
  }
  
  a:visited {
    color: whitesmoke;
    text-decoration : none; 
  }
  
  a:hover {
    color: red;
    /* text-decoration : none;  */
  }

  a:active {
    color: whitesmoke;
    /* text-decoration: none; */
} 

/* A cool strip (horizontal line) to complement the clock strip above it */
hr.coolHr {
    border: 12px solid #343a40;
    margin: 0 auto;
    padding-bottom: 0;
    opacity: 0.83;
   
  }

/* All code below controls the Add Meals row where all User input goes */
   
#meal-name-input, #calories-input, #lastM-input, .card-body, .navbar{
  background-color:  #504f54;
  color: whitesmoke;
  text-align: center;
   
}

  .form-group {
    text-align: center;
    margin: 0;

  }

  .btn-secondary, #frequency-input {
      background-color: #319177;
      border-radius: 10px;
      text-align: center;
      align-items: center;
      color: whitesmoke;
      align-content: center;
     
      
 }

  #frequency-input {
    width: 33%;
    align-items: center;
    display: inline-block;

    
  }
  

 
  

/* Font families inventory:
font-family: 'Turret Road', cursive;
font-family: 'Quantico', sans-serif;
font-family: 'Special Elite', cursive;
*/

/* Font inventory
font-family: 'Staatliches', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Quantico', sans-serif;
*/